html {
  scroll-behavior: smooth; 
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Roboto';
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    width: 720px;
  }
.profile {
  display: flex;
  justify-content: space-between;
}
.profile-image {
  margin-top: 0.75em;
}
.profile-title {
  margin: 1.5em 12em 0 0;
  text-align: center;
}
.contact {
  text-align: center;
  margin: -1em 0 1em 0;
}
h1 {
	font-family: 'Roboto Mono';
	font-weight: 500;
}
h2 {
	font-family: 'Roboto Mono';
	font-weight: 300;
}
.nav-list {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  justify-content: space-between;
  padding-right: 20em;
}
.footer {
  display: flex;
  justify-content: space-between;
}
hr {
  border: none;
  background-color: gray;
  color: gray;
  height: 1px;
  width: 45em;
}
.link {
  text-decoration: none;
  color: darkblue;

}
.link:hover {
  text-decoration: underline;
  color: red;
}
.code {
  background-color: lightyellow;
  padding-left: 3em;
}
